th,
td {
    padding: 5px;
}

th {
    white-space: nowrap;
}

hr {
    color: #6f9199;
}

a {
    text-decoration: none;
}

body {
    background: #e7fff7;
    background: linear-gradient(90deg, #e7fff7 0%, #e7fff7d9 75%, #ff898934 100%);
    overflow: hidden
}

form tr {
    vertical-align: baseline;
}

#logo,
#logo-imgs {
    display: flex;
    align-items: flex-end;
}

#logo {
    padding: 15px 10px 10px 10px;
    margin-bottom: -10px;
    overflow-x: scroll;
}

#logo-imgs {
    margin-left: auto;
    margin-right: 40px;
}

#logo h1 {
    color: #135a51;
    font-size: 36pt;
    margin: 0 80px -8px 5px
}

#logo h1:hover {
    color: #3dd3bf;
    transition: 0.3s;
}

/* Style page content */
#main {
    transition: 0.5s;
    max-width: none;
    flex: 1 1 88%;
    overflow: scroll;
}

#copy-lyrics {
    background-color: #414196;
    border-width: 0;
    margin-left: 2vw;
}

#copy-lyrics:hover {
    background-color: #59b4a8;
}

#sidebar-btn-row {
    margin-bottom: 14px;
}

/* The sidebar menu */
#sidebar {
    max-width: none;
    border-right: 1px #a5d1c3 solid;
    font-size: min(16pt, 1.8vw);
    z-index: 1;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    flex: 1 1 12%;
}

/* The sidebar links */
#sidebar a {
    color: #1e5a52;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
    color: #ecbaa5;
}

#sidebar li,
.vad-analysis-desc p {
    margin-bottom: 6px;
}

#sidebar,
.sidebar-btn {
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-btn {
    top: 0;
    margin-left: 15px;
    width: fit-content;
    padding: 0px 4px 2px 4px;
    border-radius: 4px;
    position: relative;
}

.sidebar-btn:hover {
    background-color: #bbe4dc;
}

.uam-logo,
.eps-logo {
    margin-left: 80px;
}

.eps-logo {
    margin-bottom: -4px;
}

.vad-results {
    overflow-x: scroll;
}

.vad-results th {
    background-color: #dbd5ff;
}

.vad-form-table ul {
    list-style-type: none;
}

.genius-lyrics span {
    white-space: pre-wrap;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}