th,
td {
    padding: 5px;
}

th {
    white-space: nowrap;
}

hr {
    color: #6f9199;
}

a {
    text-decoration: none;
}

body {
    background: rgb(231, 255, 247);
    background: linear-gradient(90deg, rgba(231, 255, 247, 1) 0%, rgba(231, 255, 247, 0.85) 75%, rgba(255, 137, 137, 0.204) 100%);
    overflow: hidden
}

form tr {
    vertical-align: baseline;
}

#logo {
    padding: 20px;
    margin-bottom: -20px;
    display: flex;
    overflow-x: scroll;
    align-items: flex-end;
}

/* Style page content */
#main {
    transition: 0.5s;
    max-width: none;
    flex: 1 1 88%;
    overflow: scroll;
}

#sidebar-btn-row {
    margin-bottom: 14px;
}

/* The sidebar menu */
#sidebar {
    max-width: none;
    border-right: 1px rgb(165, 209, 195) solid;
    font-size: min(16pt, 1.8vw);
    z-index: 1;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    flex: 1 1 12%;
}

/* The sidebar links */
#sidebar a {
    color: #1e5a52;
    transition: 0.3s;
}

#sidebar li {
    margin-bottom: 6px;
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
    color: #ecbaa5;
}

#sidebar,
.sidebar-btn {
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-btn {
    top: 0;
    margin-left: 15px;
    width: fit-content;
    padding: 0px 4px 2px 4px;
    border-radius: 4px;
    position: relative;
}

.sidebar-btn:hover {
    background-color: rgb(187, 228, 220);
}

.uam-logo,
.eps-logo {
    margin-left: 50px;
}

.vad-results {
    overflow-x: scroll;
}

.vad-results th {
    background-color: rgb(219, 213, 255);
}

.vad-form-table ul {
    list-style-type: none;
}

.genius-lyrics span {
    white-space: pre-wrap;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}