{% extends "base_generic.html" %}
{% block content %}
    <h1>LastFM Recommender System</h1>
    <p>
        Welcome to <em>LastFM RecSys</em>, a webpage to showcase the sentiment-analysing hybrid recommender system developed as my Bachelor's Degree Final Project (TFG).
    </p>
    <h2>Design Diagrams</h2>
    <p>A diagram displaying this Django application's Model-View-Template architecture is shown below.</p>
    {% load static %}
    <div>
        <img src="{% static "img/Django.png" %}"
            alt="Django MVC Model"
            width=""
            height=""/>
    </div>
    <br/>
    <p>An Entity-Relationship diagram of the LastFM database model is shown below.</p>
    <div class="zoom-container">
        <label>
            <input type="checkbox">
                <img src="{% static "img/LastFM_DB.png" %}"
                    alt="LastFM ER Diagram"
                    width="40%"
                    height=""/>
        </label>
    </div>
    <hr/>
    <h2>Database Statistics</h2>
    <p>The scraped Last.FM database has the following record counts:</p>
    <div>
        <ul>
            <li>
                <strong>Tracks:</strong> {{ stats.track }}
            </li>
            <li>
                <strong>Artists:</strong> {{ stats.artist }}
            </li>
            <li>
                <strong>Albums:</strong> {{ stats.album }}
            </li>
            <li>
                <strong>Tags:</strong> {{ stats.tag }}
            </li>
            <ul>
                <li>
                    <strong>Tag-Track Relations:</strong> {{ stats.tracktoptags }}
                </li>
                <li>
                    <strong>Tag-Artist Relations:</strong> {{ stats.artisttoptags }}
                </li>
                <li>
                    <strong>Tag-Album Relations:</strong> {{ stats.albumtoptags }}
                </li>
            </ul>
            <li>
                <strong>Users:</strong> {{ stats.user_ }}
                <ul>
                    <li>
                        <strong>User-Track Interactions:</strong> {{ stats.useralltracks }}
                    </li>
                    <li>
                        <strong>User-Artist Interactions:</strong> {{ stats.usertopartists }}
                    </li>
                    <li>
                        <strong>User-Album Interactions:</strong> {{ stats.usertopalbums }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock content %}
