{% extends "base_generic.html" %}
{% block title %}
    Last.FM Recommendations
{% endblock title %}
{% block content %}
    <h2>Last.FM Recommender</h2>
    <br/>
    {% load django_bootstrap5 %}
    {% bootstrap_messages %}
    <form method="get" onsubmit="openLoader('Generating recommendations...') & replaceTags()" class="form-group">
        {% bootstrap_form rec_form layout="horizontal" %}
        <div id="random" class="recommender-form">
            <br/>
            <h4 class="model-parameters">Random Recommender Parameters</h4>
            {% bootstrap_form random layout="horizontal" %}
        </div>
        <div id="cosine" class="recommender-form">
            <br/>
            <h4 class="model-parameters">Cosine Similarities Parameters</h4>
            <div class="alert" role="alert">
                If tags are specified, recommendations will not consider user data
            </div>
            {% bootstrap_form cosine layout="horizontal" %}
        </div>
        <div id="search" class="recommender-form">
            <br/>
            <h4 class="model-parameters">Search Parameters</h4>
            <div class="alert" role="alert">
                Use '%' as wildcard and '\' as escape character
            </div>
            {% bootstrap_form search layout="horizontal" %}
        </div>
        <br/>
        <button type="submit" class="btn btn-success">Recommend</button>
    </form>
    <br/>
    <datalist id="usernames">
        {% for username in usernames %}
            <option value="{{ username }}"></option>
        {% endfor %}
    </datalist>
    <datalist id="tags_list">
        {% for tag in tags %}
            <option value="{{ tag }}"></option>
        {% endfor %}
    </datalist>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/recommend_script.js' %}"></script>
{% endblock content %}
