{% extends "base_generic.html" %}
{% block title %}
    Last.FM Recommendations
{% endblock title %}
{% block content %}
    <h2>Last.FM Recommender</h2>
    <br/>
    <form method="get" onsubmit="openLoader('Generating recommendations...') & replaceTags()" class="form-group">
        <table>
            {{ rec_form.as_table }}
        </table>
        <div id="random" class="recommender-form">
            <br/>
            <h4>Random Recommender Parameters</h4>
            <table>
                {{ random.as_table }}
            </table>
        </div>
        <div id="cosine" class="recommender-form">
            <br/>
            <h4>Cosine Similarities Parameters</h4>
            <p>&nbsp;If tags are specified, recommendations will not consider user data.</p>
            <table>
                {{ cosine.as_table }}
            </table>
        </div>
        <br/>
        <button type="submit" class="btn btn-success">Recommend</button>
    </form>
    <br/>
    <datalist id="usernames">
        {% for username in usernames %}
            <option value="{{ username }}"></option>
        {% endfor %}
    </datalist>
    <datalist id="tags_list">
        {% for tag in tags %}
            <option value="{{ tag }}"></option>
        {% endfor %}
    </datalist>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/recommend_script.js' %}"></script>
{% endblock content %}
