{% extends "base_generic.html" %}
{% block title %}
    Text Sentiment Analyzer
{% endblock title %}
{% block content %}
    <h2>Text Sentiment Analyzer (Valence-Arousal-Dominance)</h2>
    <br/>
    <div class="vad-analysis-desc">
        <p>
            Tool to analyze VAD values of an input text (as a whole or divided by sentences), using the NRC-VAD Lexicon by Dr. Saif M. Mohammad.
        </p>
        <p>Values can be computed using mean or median of the individual value for each word found in the lexicon.</p>
        <p>
            Each text/sentence analyzed has a <i>Sentiment Label&nbsp</i> based on its valence and a <i>Sentiment Ratio&nbsp</i> based on the formula:
        </p>
        <code>StR = (<b>positive_words</b> - <b>negative_words</b>) / <b>total_found_words</b></code>
    </div>
    <br/>
    {% load django_bootstrap5 %}
    {% bootstrap_messages %}
    <form method="post" onsubmit="openLoader('Analyzing text...')" class="form-group">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <br/>
        <button type="submit" class="btn btn-success">Analyze</button>
    </form>
{% endblock content %}
