{% extends "base_generic.html" %}
{% block title %}
    Text Sentiment Analyzer
{% endblock title %}
{% block content %}
    <h2>Text Sentiment Analysis Results</h2>
    <br/>
    <div class="vad-results">
        <table>
            <tr>
                {% for f in fieldnames %}<th>{{ f }}</th>{% endfor %}
            </tr>
            {% if method == 'text' %}
                <tr>
                    {% for val in results %}<td>{{ val }}</td>{% endfor %}
                </tr>
            {% else %}
                {% for row in results %}
                    <tr>
                        {% for val in row %}<td>{{ val }}</td>{% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock content %}
