{% extends "base_generic.html" %}
{% block title %}
    Log In
{% endblock title %}
{% block content %}
    <h2>Log in with an existing account</h2>
    <br/>
    {% if form.errors %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            </p>
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <br/>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <br/>
    <p>
        <a href="{% url 'password_reset' %}">Lost password?</a>
    </p>
{% endblock content %}
