{% extends "base_generic.html" %}
{% block content %}
    {% if validlink %}
        <h3>Please enter (and confirm) your new password.</h3>
        <br />
        {% load django_bootstrap5 %}
        <form method="post" class="form-group">
            <div>
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken"/>
            </div>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success">Change my password</button>
        </form>
    {% else %}
        <h2>Password reset failed</h2>
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </p>
    {% endif %}
{% endblock content %}
